@use "./vars";

html.about-me {
    height: 100vh;

    background-image: url("../images/backgrounds/pexels-stephan-seeber-1261728.jpg");
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
    --change-alpha: 0;

    @media only screen and (max-width:vars.$max-width-phone) {
        height: 100vh;
    }

    body {
        display: block;

        header {   
            // Make current page's link in the navigation black.
            #main-nav nav ul:not(:hover) li:nth-child(3) a{
                color: black;
            }
        }

        main {
            width: 700px;
            padding: 55px;
            border-radius: 10px 10% 10px 10%;
            margin: 70px auto;
            
            background-color: vars.$white-main;
            line-height: 1.7;

            @media only screen and (max-width:vars.$max-width-phone) {
                box-sizing: border-box;
                width: 100vw;
                height: auto;
                padding: 32px;
                padding-bottom: 200px;
                margin: 4px 0 0 0;

                background: linear-gradient(to bottom, vars.$white-main 60%, vars.$white-transparent);
                border-radius: 0;
            }

            p {
                margin-bottom: 1em;
                text-align: left;

                &:last-child {
                    padding-top: 15px;
                    margin-bottom: 0;

                    text-align: center;
                }
            }



        }

        footer {
            width: auto;
            padding: 0 0 15px 0;
            margin: 0 auto 0 auto;

            p {
                text-align: center;
            }
        }
    }

}

