@use "./vars";

html.collections {
    background-image: none;
    background-position: bottom center;
    background-size: cover;
    scroll-behavior: smooth;
    --change-alpha: -0.11;

    body {

        header {
            background: none;
            border-radius: 0;

            // Make current page's link in the navigation black.
            #main-nav nav ul:not(:hover) li:nth-child(2) a{
                color: black;
            }
            #main-nav2 nav ul:not(:hover) li:nth-child(3) a{
                color: black;
            }
            #main-nav3 nav ul:not(:hover) li:nth-child(4) a{
                    color: black;
            }
            #main-nav4 nav ul:not(:hover) li:nth-child(5) a{
                color: black;
            }
            
            #secondary-nav nav ul:not(:hover) li:nth-child(1) a{
                color: black;
            }
        }

        main {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0;
            margin: 2.8em  auto;

            @media only screen and (max-width: vars.$max-width-phone) {
                display: block;
            }
        }
        
        footer {
            width: 100%;
            padding: 0;
            margin: 0 auto 0 auto;
            
            border-radius: 0;

            @media only screen and (max-width: vars.$max-width-phone) {
                padding-bottom: vars.$aside-height;
            }

            p {
                text-align: center;
            }
        }
    }
}