@use "./vars";
@use "./main";

html.contact {
    height: 100vh;
    
    background-image: url("../images/backgrounds/HomeCater.jpg");
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
     --change-alpha: 0;

    @media only screen and (max-width: vars.$max-width-phone) {
        --change-alpha: 0;
        background-image: url("../images/backgrounds/HomeCaterPhone.jpg");
    }

    body {
        display: block;
        width: 100vw;
        height: auto;
        
        header {
            // Make current page's link in the navigation black.
            #main-nav nav ul:not(:hover) li:nth-child(6) a{
            color: black;
            }
        }

        p {
            font-style: normal;
        }
    }
}   