@use "./vars";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&display=swap');

html {
    font-family: 'Dancing Script', cursive, serif;
    // You can make everything bigger with changing the vars.$font-size.
    font-size: vars.$font-size;
    line-height: 1.5;

    h1, h2, h3, h4 { 
        font-weight: 700;
    }

    header a {
        font-weight: 500;
    }

}