@use "./vars";

$padding-size: 18px;

header #main-nav, #main-nav2, #main-nav3, #main-nav4 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: vars.$header-height;
    backdrop-filter: blur(5px);

    /* background: linear-gradient(to top left, red, green 27%); */
    background: linear-gradient(to top left, vars.$white-blend1, vars.$white-main 24%);
    border-radius: 0 0 10% 0;

    @media only screen and (max-width: vars.$max-width-phone) {
        height: auto;
        // margin-top: 4px;

        /* background: linear-gradient(to top left, red, green 27%); */
        background: none;
        background-color: vars.$white-main;
        border-radius: 0;
    }
    
    div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;

        h1 {
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;

            min-width: vars.$main-min-width;
            width: vars.$main-width;
            height: 100%;
            margin: 0;
            padding: 0 vars.$main-padding 0 vars.$main-padding;

            transition: transform 1s;
            cursor: default;
            
            &:hover {
                transform: rotate(5deg);

            }

            @media only screen and (max-width: vars.$max-width-phone) {
                padding: 0;
                margin: 20px 0;
            }
        }

    }

    nav {
        flex-grow: 1;
        height: 100%;

        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            height: 100%;
            padding: 0;
            padding-right: 30px;
            margin: 0;

            list-style-type: none;

            @media only screen and (max-width: vars.$max-width-phone) {
                padding: 10px;
                padding-bottom: 20px;
            }

            li {
                display: flex;
                flex-grow: 1;
                height: 100%;

                a {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    padding: 7.2px;

                    color:vars.$not-hover-color;
                    font-size: calc(vars.$font-size*1.1);
                    text-decoration: none;
                    transition:  0.4s;
                    
                    &:hover {
                        padding-right: $padding-size;
                        padding-left: $padding-size;

                        color: black;
                    }

                    &:not(:hover) {
                        color: vars.$not-hover-color;
                    }
                }
            }
        }
    }
}