@use "./vars";

html.index {
    height: 100vh;
    color: rgba(0, 0, 0, 0.84);
    background-image: url("../images/backgrounds/HomeCake.jpg");
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
    transition: transform 0.4s;
    --change-alpha: -0.2;

    body {
        // Make current page's link in the navigation black.
        #main-nav nav ul:not(:hover) li:nth-child(1) a{
            color: black;
        }

        main {  
            /* background: linear-gradient(green, blue 22%, blue 66%, green); */
            width: vars.$main-width;
            min-width: vars.$main-min-width;
            padding: vars.$main-padding;
            margin: 0;

            background: linear-gradient(vars.$white-main, vars.$white-readable 22%, vars.$white-readable 66%, vars.$white-main);
            border-radius: 0;
            // background-color: vars.$white-main;

            @media only screen and (max-width: vars.$max-width-phone) {
                box-sizing: border-box;
                width: 100%;
                padding: 32px;
                margin-top: 4px;

                background: none;
                background-color: vars.$white-main;
                backdrop-filter: blur(0px);
            }

            p {
                text-align: left;
            }
        }
        
        footer {
            width: vars.$main-width;
            min-width: vars.$main-min-width;
            padding: vars.$main-padding;
            margin: 0;

            /* background: linear-gradient(green 33%, green 66%, yellow); */
            background: linear-gradient(vars.$white-main 33%, vars.$white-main 66%, vars.$white-blend2);
            border-radius: 0 0 90% 13%;
            backdrop-filter: blur(5px);
            
            @media only screen and (max-width: vars.$max-width-phone) {
                box-sizing: border-box;
                width: 100%;
                padding: 9vw 5vw 200px 5vw;
                
                background: linear-gradient(to bottom, vars.$white-main 5%,  vars.$white-transparent);
                border-radius: 0;
                backdrop-filter: blur(0px);
            }
            
            p {
                margin-bottom: 0px;
            }

            #background-image-author {
                padding-left: 17px;

                font-size: calc(vars.$font-size*0.9);
                text-decoration: none;
                color: vars.$not-hover-color;
                transition: .4s;

                &:visited {
                    color: vars.$not-hover-color;
                }

                &:hover {
                    color: rgba(0, 0, 0, 0.65);
                }
            }

        }
    }
}