@use "./vars";
//In here a general rules used for the main of html pages. Note these are only applied if no specific styling is applied to the page and or element.

//Normal background rules.
html body{
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
}

//Normal main rules.
html body main {
    width: 400px;
    height: auto;
    padding: 50px;
    margin: 40px auto 0 auto;
    background: none;
    border-radius: 10px 20% 10px 20%;

    //Shared blur effect for the index and the contact pages.
    &.blurred-mains{
        backdrop-filter: blur(5px);
        
        //removes the blur effect for mobile viewing.
        @media only screen and (max-width: vars.$max-width-phone) {
            backdrop-filter: blur(0px);
                    
        }

    }
    //Normal rules for mobile view.
    @media only screen and (max-width: vars.$max-width-phone) {
        align-items: normal;
        width: 100vw;
        height: auto;
        padding: 100px 0 300px 0;
        margin-top: 4px;
        background: none;
        // background: linear-gradient(to bottom, red 40%, yellow);
        background: linear-gradient(to bottom, vars.$white-main 40%, vars.$white-transparent);
        border-radius: 0;
        //backdrop-filter: blur(0px);
                
    }
    
    //Styling for all the contact links.
    address {    
        div {
            display: block;
            margin: 0 auto 0 auto;

            &:nth-child(2) {
                margin-top: 16px;
            }
        }

        p {
            text-align: center;
            margin: 0;

            &:nth-child(2n+1) {
                color: vars.$not-hover-color;
                cursor: default;
            }

            &#phone-num {
                font-size: calc(vars.$font-size*.87);
            }
        }

        img {
            $size: 31px;
            width: $size;
            height: $size;
            padding: 0 calc($size/4) 0 calc($size/4);

            opacity: 0.66;
            transition: .3s;

            &:hover {
                transform:scale(1.088);
            }


        }
        &.icons {
            margin-top: 10px;
            div{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                
            }
        }
    }

    p {
        text-align: center;
        padding-top: 3px;
        margin: 0;
        a {
            display: block;
            width: 100%;

            color: vars.$not-hover-color;
            font-size: calc(vars.$font-size*0.8); 
            text-decoration: none;
            transition: .4s;
            
            &:visited {
                color: vars.$not-hover-color;
            }

            &:hover {
                color: rgba(0, 0, 0, 0.65);
            }
        }
    }
}

