@use "./vars";

html body main {
    width: 400px;
    height: auto;
    padding: 50px;
    margin: 40px auto 0 auto;
    backdrop-filter: blur(5px);


    background: none;
    background-color: vars.$white-main-fixed;
    border-radius: 10px 20% 10px 20%;

    @media only screen and (max-width: vars.$max-width-phone) {
        align-items: normal;
        width: 100vw;
        height: auto;
        padding: 100px 0 300px 0;
        margin-top: 4px;

        background: none;
        // background: linear-gradient(to bottom, red 40%, yellow);
        background: linear-gradient(to bottom, vars.$white-main 40%, vars.$white-transparent);
        border-radius: 0;
                
    }
    
    address {    
        div {
            display: block;
            margin: 0 auto 0 auto;

            &:nth-child(2) {
                margin-top: 16px;
            }
        }

        p {
            text-align: center;
            margin: 0;

            &:nth-child(2n+1) {
                color: vars.$not-hover-color;
                cursor: default;
            }

            &#phone-num {
                font-size: calc(vars.$font-size*.87);
            }
        }

        img {
            $size: 31px;
            width: $size;
            height: $size;
            padding: 0 calc($size/4) 0 calc($size/4);

            opacity: 0.66;
            transition: .3s;

            &:hover {
                transform:scale(1.088);
            }


        }
        &.icons {
            margin-top: 10px;
            div{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                
            }
        }
    }

    p {
        text-align: center;
        padding-top: 3px;
        margin: 0;
        a {
            display: block;
            width: 100%;

            color: vars.$not-hover-color;
            font-size: calc(vars.$font-size*0.8); 
            text-decoration: none;
            transition: .4s;
            
            &:visited {
                color: vars.$not-hover-color;
            }

            &:hover {
                color: rgba(0, 0, 0, 0.65);
            }
        }
    }
}