@use "./vars";

html body main #phone-up-button {
    position: fixed; // 'position: sticky' would be optimal here.
    $offset: 25px;
    bottom: $offset;
    right: $offset;

    display: none;
    $size: 52px;
    width: $size;
    height: $size;

    @media only screen and (max-width: vars.$max-width-phone) {
        display: block;

            a {
                display: flex;
                align-items: center;
                text-align: center;
                width: $size;
                height: $size;

                color: white;
                background-color: rgba(0, 192, 147, 0.8);
                text-decoration: none;
                font-size: calc(vars.$font-size*2.2);
                border-radius: 50%;
                opacity: 0.471;

                p {
                    width: $size;
                    height: $size;
                    padding-bottom: 40px;
                    margin: 0;

                    font-size: calc(vars.$font-size*3.5);
                }
            }
        }
    } 