@use "./vars";
@use "./products-nav";

//Generalities for the main content of the page.
html body main article#products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.7em;
    width: vars.$section-width;
    padding-top: 15px;

    font-size: vars.$font-size;

    @media only screen and (max-width: vars.$max-width-phone) {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    // The title for a food section spanning the size of two.
    h2.span-two {
        margin-bottom: -10px;
        text-align: center;
        font-size: calc(vars.$font-size*1.5);
    }
 
    // Each food is a section.
    section {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 2.7em;
        margin: 0 auto;  

        border-radius: 10px;
        $alpha: 0.3;
        $shadow-value: 12px;
        box-shadow: 0px 0px calc($shadow-value + 0px) calc($shadow-value - 4px) rgb(100, 100, 100, calc($alpha*1));
        transition: .8s;

        // Shaodw change when hoevering over the product.
        &:hover {
            box-shadow: 0px 0px calc($shadow-value + 2px) calc($shadow-value - 3px) rgb(100, 100, 100, calc($alpha*1.45));
        }

        // Product title.
        h3 {
            margin: 0;
            text-align: center;
            font-size: calc(vars.$font-size*1.24);
        }

        // Item Number Subtitle subtitle.
        h4 {
            margin: 0;
            text-align: center;
            font-size: calc(vars.$font-size*1);
        }

        // Product content.
        p {
            margin: 5px auto 0 auto;
            font-size: calc(vars.$font-size*1);
            white-space: pre-line;
        }

        // Product subnote.
        .note {
            font-size: large;
            font-style: italic;
        }

        //Contact form button.
        a{
            padding-top: 2rem;
            text-align: center;
        }

        // Product image.
        img{
  
            border-radius: 15px;
            max-width: 100%;
            height: auto;
        }
    }

    // Longer products.
    .span-two {
        grid-column: span 2;
        margin: 0 auto 22px auto;
    }

    // Products by themselves on the right.
    .span-right {
        grid-column: span 1 / 3;
        margin: 0 auto 22px auto;
    }
    
}
