@use "./vars";

//Generalities for the navigation of the products.
html body main article#products nav {
    display: flex;
    flex-direction: column;
  
    label {
        display: flex;
        padding: 0 15px;
        border-bottom: 5px solid vars.$border-color;

        transition: border-bottom .1s;
        cursor: pointer;

        span {
            font-size: calc(vars.$font-size*1.44);

            &#down-arrow {
                padding: 15px 0 0 27px;
                margin-bottom: 0;
            }
        }
    }

    #toggle-btn {
        display: block;
        width: 0;
        margin: 0 auto;
        
        &:checked + ul{
            display: flex;
            flex-direction: column;
        }
    }
    


    
    ul {
        display: none;
        padding: 0;
        margin: 17px 0 0 0;

        list-style: none;

        li {
            height: 48px;

            a {
                display: block;
                width: 100%;
                height: 100%;

                color: black;
                text-decoration: none;
                transition: 1s;

                &:visited {
                    color: black;
                }
            }
        }
        
// -------- For changing link colors when one is hovered.
        &:hover li a {
            transition: .1s;
            color: vars.$not-hover-color;
        }

        li a:hover {
            color: black;
        }

        li a:hover ~ li a{
            color: vars.$not-hover-color;
        }
// ---------------------------------------------------------
    }
}