
// Colors. --change-alpha is used to change colors' transperency per page using :root { --change-alpha: 0; }.
$white-readable: rgba(255, 255, 255, calc(0.82 + var(--change-alpha)));
$white-main: rgba(255, 255, 255, calc(0.68 + var(--change-alpha)));
$white-blend1: rgba(255, 255, 255, calc(0.29 + var(--change-alpha)));
$white-blend2: rgba(255, 255, 255, calc(0.29 + var(--change-alpha)));
$white-main-fixed: rgba(255, 255, 255, 0.44);
$white-transparent: rgba(255, 255, 255, 0);
$not-hover-color: rgba(0, 0, 0, 0.5);
$border-color: rgba(0, 192, 147, 1);
$border-color2: rgba(255, 166, 0, 0.471);

// Dimensions.
$header-height: 105px;
$main-width: 20vw;
$main-min-width: 360px;
$main-padding: 2vw;
$main-margin-top: 4px;
$aside-height: 30px;
$section-width: 70%;

// Media-query breakpoints.
$max-width-phone: 1000px;

// Font size.
$font-size: 23.3px;
@media only screen and (max-width:$max-width-phone) {
    $font-size: calc($font-size + 5px);
}


//Fade in animation:
@keyframes fadeIn {  
    from {  
        opacity:0;  
    }  
 
    to {  
        opacity:1;  
    }  
 }

 main, footer{
    animation: fadeIn 1s ease-in;
}

